
// Layout
$desktop: 1024px;
$tablet: 768px;
$handle: 568px;

// Menu
$submenu-bg-color: #fff;

// Border Radius
$border-radius-small: 4px;
$border-radius-medium: 10px;
$border-radius-circle: 50%;


// background fields in form
$border-field-color: #e0e0e0;
$background-field: #f1f1f1;



:root{
	--heading: #333;
	--heading-dark: #f1f1f1;
	--text-dark: #f1f1f1;
}